// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron.jumbotron-events {
  position: relative;
  background: #fff image-url("e1.jpg") center center;
  color: #ebc92c ;
  width: 100%;
  height: 400px;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 5px;
}

.container .jumbotron {
  border-radius: 0px;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}
h1 {
  color: black;
  text-shadow: -1px 0 black, 0 5px black, 5px 0 black, 0 -1px black;
}