<hr class="style18"> 
<div class="container">
  <div class="col-md-6 text-left">
    <p>Copyright © 2021 <a href="<% root_path %>">ButtercupEvents</a>. All rights reserved.#Go#<a href="<% new_admin_user_session_path %>">Admin Section</a></p>
  </div>
  <div class="col-md-6 text-right">
    <p >Created with <span role='img'>❤</span> by <a href="#" target="_blank">Shagufta Anjum</a> @ <a href="https://birlainstitute.co.in/" target="_blank">BIAS</a></p>
  </div>
</div>